@keyframes slideIn {
  0% {
    top: 0%;
    opacity: 0;
  }
  100% {
    top:550px;
    opacity: 1;
  }
}
.cont-form {
  z-index: 1;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  background-color: rgb(18, 18, 18);
  width: 370px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  border-radius: 5px;
  animation: slideIn 2s forwards;
  .close {
    position: absolute;
    top: 20px;
    right: 40px;
    cursor: pointer;
  }
  .input-cont {
    display: flex;
    flex-direction: column;
  }
  .logo {
    width: 40px;
  }
  .user-panel-title {
    color: aliceblue;
  }
  .user-panel-input {
    width: 280px;
    height: 35px;
    border-radius: 2px;
    padding-left: 10px;
    font-size: 1.1rem;
    border: none;
    margin: 10px 0px;
  }
  .user-panel-btn-cont {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    .user-panel-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      width: 135px;
      height: 35px;
      background-color: rgb(225, 225, 52);
      border-radius: 5px;
      font-size: clamp(1rem, 0.8286rem + 0.4571vw, 1.1rem);
      border: none;
      margin-top: 20px;
      padding: 10px;
    }
  }
}
