.home-cont,
.home-cont-shadow {
  background-color: rgb(199, 147, 79);
  height: 100%;
  padding: 50px 0px 150px 0px;
  .home-cont-title {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    .home-title {
      background: #121fcf;
      background: -webkit-linear-gradient(left, #121fcf 0%, #b20a07 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }
    .home-des {
      padding: 0px 20px;
      color: #fff;
      max-width: 700px;
    }
  }
  .cont-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    .cont-section-movies {
      padding: 0;
    }
    .cont-section-title {
      color: #fff;
      margin-bottom: 20px;
    }
    .home-cont-btns {
      display: flex;
      gap: 10px;
      margin: 30px 20px;
      .btn,
      .btn-active {
        border: none;
        cursor: pointer;
        width: 100px;
        height: 25px;
        border-radius: 5px;
      }
      .btn-active {
        background-color: rgb(225, 225, 52);
      }
    }
    .cont-coming-soon {
      margin-top: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
.home-cont-shadow {
  opacity: 0.6;
  background-color: rgb(0, 0, 0);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}
