.footer-cont{
    background-color: black;
    .footer-cont-des{
        display: flex;
        padding: 20px;
        .text{
            color: #e1e1e1;
        }
    }
    .footer-cont-info{
        padding: 20px 0px;
        .footer-cont-list{
            display: flex;
            justify-content: center;
            align-items: center;
            list-style: none;
            gap: 10px;
            .footer-cont-list-elm{
                color: #fff;
                font-weight: bold;
                cursor: pointer;
            }
            .footer-cont-list-elm:hover{
                text-decoration: underline;
            }
        }
    }
}